<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-x-toast"
        version="2.6.0">

  <name>Shangjin</name>

  <description>
    Shangjin
  </description>

  <author>simon</author>

  <license>MIT</license>

  <keywords>Toast, Notification, Message, Alert</keywords>

  <repo>https://github.com/Brother-Simon/ShangjinPlugin.git</repo>

  <issue>https://github.com/Brother-Simon/ShangjinPlugin/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/Shangjin.js" name="Shangjin">
    <clobbers target="window.plugins.shangjin" />
  </js-module>

  <js-module src="test/tests.js" name="tests">
  </js-module>

 

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Shangjin">
        <param name="android-package" value="nl.xservices.plugins.Shangjin" />
      </feature>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/Shangjin.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

   <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Shangjin">
        <param name="ios-package" value="Shangjin"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Shangjin+UIView.h"/>
    <source-file src="src/ios/Shangjin+UIView.m"/>
    <header-file src="src/ios/Shangjin.h"/>
    <source-file src="src/ios/Shangjin.m"/>

    <framework src="QuartzCore.framework" />
  </platform>

</plugin>
